.hidden
{
	display: none;
}

body{
	background-color: #584797;
}

h2{
	font-family: arial, 'sans-serif';
	color: #fff;
	margin: 10px 0px 10px 0px;
	text-align: center;
	font-weight: bold;
}

#mainDisplay{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.instrument_row{
	width: 320px;
	height: 500px;
	background-color: #45377D;
}

.instruments{
	width: 100px;
	height: 100px;
	background-color: #F3F0F9;
	margin: 15px auto 22px auto;
	display: block

}

#playBoard{
	width: 650px;
	height: 550px;
	background-color: #F3F0F9;
}

#controls{
	width: 205px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 0 auto;
	margin-top: 25px;
	margin-bottom: 25px;
}

.placeholder{
	background-color: #F3F0F9;
	width: 40px;
	height: 40px;
}

.bot_instruments{
	width: 100px;
	height: 100px;
	background-color: #F3F0F9;
	margin: auto;
}

#footer_instruments{
	width: 575px;
	height: 175px;
	background-color: #45377D;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}







