.hidden
{
	display: none;
}

body{
	background-color: #0a0a0a;
	padding-top: 25px;
}

h2{
	color: #fff;
	text-align: center;
	font-weight: bold;
}

#faded{
	font-family: 'Permanent Marker', cursive;
	letter-spacing: 1px;
	font-size: 24px;
}

#marble{
	font-family: 'Satisfy', cursive;
	letter-spacing: 1px;
	font-size: 24px;
}

#footerHeadline{
	padding-top: 15px;
	display: block;
	margin: 0 auto;
	background-color: #0a0a0a;
	color: #fff;
	font-family: 'Bangers', cursive;
	letter-spacing: 3px;
	font-size: 24px;
	width: 575px;
}

#mainDisplay{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.instrument_row{
	padding-top: 15px;
	padding-bottom: 15px;
	width: 320px;
	height: 500px;
	background-color: #0a0a0a;
}

.instruments{
	width: 100px;
	height: 100px;
	margin: 15px auto 22px auto;
	display: block;
	cursor: pointer;
	border-radius: 15px;
}

#playBoard{
	width: 650px;
	height: 550px;
}

#dropzone_container{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 25px;
	margin-left: 15px;
	margin-right: 15px;}

.dropzones{
	height: 100px;
	width: 100px;
	border: 1px solid #000;
	background-color: #F3F0F9;
	position: relative;
}

#d1{
	background-image: url(../images/plug_d1.png);
	background-size: cover;
}

#d2{
	background-image: url(../images/plug_d2.png);
	background-size: cover;
}

#d3{
	background-image: url(../images/plug_d3.png);
	background-size: cover;
}

#d4{
	background-image: url(../images/plug_d4.png);
	background-size: cover;
}

.dropzones img{
	bottom: 0;
	padding: 0;
	margin: 0;
}

#midi_img{
	width: 600px;
	height: 325px;
	display: block;
	margin: auto;
	margin-top: 25px;
}

#controls{
	width: 500px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 0 auto;
	margin-bottom: 35px;
}

#controls img{
	cursor: pointer;
}

.buttons{
	width: 60px;
	height: 60px;
}

.bot_instruments{
	width: 100px;
	height: 100px;
	margin: auto;
	border-radius: 15px;
}

#footer_instruments{
	width: 575px;
	height: 150px;
	background-color: #0a0a0a;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


/*Meeting ID: 963 2882 9123
Passcode: KWhm5b*/






